<div>
	<div class="button-wrapper">
		<button data-ng-key="1" class="col-xs-4">1</button>
		<button data-ng-key="2" class="col-xs-4">2</button>
		<button data-ng-key="3" class="col-xs-4">3</button>
		<button data-ng-key="4" class="col-xs-4">4</button>
		<button data-ng-key="5" class="col-xs-4">5</button>
		<button data-ng-key="6" class="col-xs-4">6</button>
		<button data-ng-key="7" class="col-xs-4">7</button>
		<button data-ng-key="8" class="col-xs-4">8</button>
		<button data-ng-key="9" class="col-xs-4">9</button>

		<button data-ng-key="[CLEAR]" ng-click="clearPad()" class="smaller col-xs-4">CLEAR</button>
		<button data-ng-key="0" class="col-xs-4">0</button>
		<button data-ng-key="." class="col-xs-4">.</button>
		<!-- <button data-ng-key="%" class="col-xs-4">%</button>

		<button class="col-xs-12 submit" ng-click="submitEdit()">
		<i class="material-icons">done</i>
		</button> -->
		<!-- <button data-ng-key="[PREVIOUS]" class="button-wide smaller">Previous</button>
		<button data-ng-key="[NEXT]" class="button-wide smaller">Next</button> -->
	</div>
	<!-- <div class="drag-indicator">
		<span></span>
		<span></span>
		<span></span>
	</div> -->
	<!-- <button class="close" data-ng-click="close()"></button> -->
</div>