<!--=================================================================================
=====================================================================================
EDIT ORDER
==================================================================================-->
<form name="tagForm" ng-submit="tagOrder(orderForm)" validate role="form">
    <div class="clearfix editMenu">
        <div class="title">ADD TAG</div>
        <md-button class="acceptBtn " type="submit">
       <!--      <i class="material-icons lvlout">&#xE876;</i> -->
            <i class="material-icons lvlout">&#xE876;</i>
        </md-button>
        <md-button class="rejectBtn " ng-click="mainView == 3">
            <i class="material-icons lvlout">&#xE14C;</i>
        </md-button>
    </div>
    <md-content md-theme="default">
        <div class="col-sm-12 npLR">
            <md-input-container class="md-icon-float md-icon-right">
                <!-- Use floating label instead of placehoasdlder -->
                <label>Order tag</label>
                <md-icon class="material-icons">&#xE8D2;</md-icon>
                <input data-ng-model="currentOrder.OrderTag" name="Tag" type="text">
            </md-input-container>
        </div>
    </md-content>
</form>
