<div id="cart-page">
    <section>
        <div class="row">
            <span class="cart-item col-xs-6" ng-repeat="item in cart">
            	<div ng-class="data.cb1 ? 'selected' : ''" class="item-wrap">
					<md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">  
					<h2 class="title">adsfad</h2>   
					</md-checkbox>
				    <div class="info">
				      <h3 class="info-text">adsfad</h3>
				     
				    </div> 
				     <div class="actions clearfix" ng-if="data.cb1">
				      <a href="" class="icon"><i class="material-icons md-36 menu-icon">
				      shopping_basket</i></a>
				      <a href="" class="icon pull-right"><i class="material-icons md-36 menu-icon">
				      close</i></a>
				    </div>    
				</div>
			</span>
        </div>
    </section>
</div>
