<my-loader ng-if="modalShown"></my-loader>
<section id="viewPage">
  

  <div class="syncBtn-wrap" ng-if="refreshModal">
    <md-button aria-label="refresh" ng-click="back()" class="syncBtn md-raised md-button md-default-theme md-button">
        <i class="material-icons md-36">undo</i>
    </md-button>
    <md-button aria-label="refresh" ng-click="syncData()" class="syncBtn md-raised md-button md-default-theme md-button">
        <i class="material-icons md-36">sync</i>
    </md-button>
  </div>
<!--   <p>{{names}}</p> -->
</section>